body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  
  #area-example-3 {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  #area-example-3 .area {
    --aspect-ratio: 16 / 9;
  }
  
  #container{
    display: flex;
    flex-direction: row;
  }

  #bar-example-1 {
    margin-top: 3cm;
    width: 100%;
    max-width: 300px;
  }

  #bar-example-1 .bar {
    --aspect-ratio: 4 / 3;
  }